.grid {
    display: grid;
   /* grid-template-columns:0.8fr 1.5fr 3.5fr 0.5fr 0.5fr 0.8fr 0.8fr;*/
  /*  grid-template-columns:0.8fr 1.5fr 3.5fr 0.5fr 0.5fr 0.8fr 0.8fr;*/
    /* 13 in old*/
   grid-template-columns:repeat(13,200px);
}

.cell {
    /*background-color: #f9f9f9;*/
/*    padding: 5px;*/
    border: 1px solid;
    display: grid;
    grid-template-columns:200px;
    grid-template-rows:30px;
  /*  grid-template-rows:repeat(3,1fr);*/
    font-size: 10px;
 /*   grid-template-columns:0.8fr 1.5fr 3.5fr 0.5fr 0.5fr 0.8fr 0.8fr;*/
/*    text-align: left;*/
    font-family: sans-serif;
}

.cell-first {
 /*  border-top: 1px solid;
    border-left: 1px solid;*/
    word-wrap: break-word;
    display: grid;
    grid-template-columns:180px 20px;
    grid-template-rows:12px;
    font-size: 12px;
    text-align: left;
    font-family: sans-serif;
}
.cell-second {
    display: grid;
    grid-template-columns:70px 130px;
    grid-template-rows:60px;
    font-size: 8px;
    text-align: left;
    font-family: sans-serif;
}

.cell-details {
    display: grid;
    grid-template-columns:40px 40px 40px;
    grid-template-rows: 30px 30px;
    text-align: center;
    font-size: 12px;
}
.status-connect{
    padding-left: 10px;
}
.status-cam{
    padding-left: 10px;
}
.cell-third {
    display: grid;
    grid-template-columns:60px 140px;
    grid-template-rows:20px;
    font-size: 12px;
    text-align: center;
    font-family: sans-serif;
}
.cell-name {
    word-wrap: break-word;
}
.btn .btn-primary .btn-lg{
    padding-left: 40px;
}
.image-channel{
    cursor: pointer;
}

.button {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #c9c6c6;
    color: #333;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #ccc;
}
.button:active {
    background-color: #999;
}
.form {
    display: flex;
  /*  justify-content: center;*/ /* Выравнивание по центру горизонтально */
    flex-direction: column;
}
.form__input {
    margin-top: 10px;
}
label {
    display: inline-block;
    width: 30%;
}
input {
    width: 50%;
    padding-top:0;
    padding-bottom: 0;
}
